body {
    background-color: darkgreen !important;
}
ul {
    list-style: none;
    padding: 0!important;
    margin: 0!important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
li.active-player{
    margin-left: 15px;
}
.card{
    margin-top: 30px;
    margin-bottom: 30px;
}

#pile-and-deck{
    background-color: darkgreen;
}

#play-area{
    background-color: darkred;
}

.card-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row !important;
}

.card-body .hand {
    flex-direction: column;
}

.Player1-hand > img {
    width: 40px;
}
.Player2-hand > img {
    width: 40px;
}
.Player3-hand > img {
    width: 40px;
}
.Player4-hand > img {
    width: 40px;
}
#pile > img {
    width: 40px;
}

.card-all .selected{
    transform: rotate(10deg) translateY(-9px);
  }

.active-player{
    background-color: aqua;
}

#error-feedback-names{
    display: none;
}

#error-feedback-names.display-feedback-names{
    display: block;
}


#error-feedback-empty{
    display: none;
}

#error-feedback-empty.display-feedback-empty{
    display: block;
}
