html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(darkgreen, yellow);
}
b{
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 400;
}

nav{
    background-color: darkgreen !important;
}

header .menu {
    font-size: 1.2rem !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    color: white !important;
    display: flex !important;
}

header .menu .menu-item {
    background: black;
    padding: 5px;
    text-decoration: none;
    color: white;
}

.back-color-Red{
    background-color: darkred !important;
    color: whitesmoke;
}
.back-color-Green{
    background-color: #339966 !important;
    color: whitesmoke;
}
.back-color-Blue{
    background-color: blue !important;
    color: whitesmoke;
}
.back-color-Yellow{
    background-color: #ffd633 !important;
    color: darkslategray;
}

#exampleModal{
    background-color: orangered;
}

#restart-game-btn{
    cursor: pointer;
}

#restart-game-btn:hover {
    font-weight: 700;
    color: #ff5253;
}

ul {
    list-style: none;
    padding: 0!important;
    margin: 0!important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#pato-laugh {
    border-radius: 50%;
    border: 5px solid darkcyan;
}

#pato-uno{
    width: 240px;
    border-radius: 50%;
    border: 5px solid darkcyan;
    margin-left: 30px;
}

.called-uno-message{
    font-weight: 700;
    font-size: 1.2rem;
    color: #ffff;
}

li.active-player{
    margin-left: 15px;
}

.player-wrapper{
    padding: 30px 100px;
}

.avatar{
    width: 120px;
    margin-right: 15px;
}

.active-avatar{
    margin-top: 30px;
}

.card-body.hand{
    background-color: rgba(139, 0, 0, 1)!important;

}
.card-all > img {
    padding: 1px;
}

#card-pile-and-deck{
    background-color: darkgreen;
    margin-right: 30px;
    min-height: 301px;
}

#play-area{
    background-image: linear-gradient(orangered, yellow);
    display: flex;
    flex-direction: column;
    justify-content: center !important;
}

#play-area .card {
    border: 1px solid orangered !important;
    min-width: 600px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row !important;
}

.card-body .hand {
    flex-direction: column;
}

.Player1-hand > img {
    width: 40px;
}
.Player2-hand > img {
    width: 40px;
}
.Player3-hand > img {
    width: 40px;
}
.Player4-hand > img {
    width: 40px;
}

#pile > img {
    width: 80px;
    margin-bottom: 15px;
    margin-top: 160px;
    margin-left: 80px;
}

#deck > #deck-11:hover {
    cursor: pointer;
    box-shadow: 0px 0px 9px 4px greenyellow;
    animation: glow 1.5s linear infinite alternate;
}

@keyframes glow{
    to {
        box-shadow: 0px 0px 30px 20px greenyellow;
    }
}
#deck {
    position: absolute;
    top: 0;
    left: 0;
}
#deck-10 {
    transform:rotate(14deg);
    position: relative;
    top: 30px;
    left: 90px;
    z-index: 1;
}


#deck-11 {
    transform: rotate(10deg);
    position: absolute;
    top: 30px;
    left: 80px;
    z-index: 2;
    width: 80px;
}

#deck-12 {
    transform: rotate(0deg);
    position: absolute;
    top: 30px;
    left: 90px;
    z-index: 1;
}


.card-all .selected{
    transform: rotate(10deg) translateY(-9px);
}

.active-hand > img{
    width: 60px;
}

#error-feedback-names{
    display: none;
}

#error-feedback-names.display-feedback-repeatednames{
    display: block;
}
#ready-to-send{
    display: none;
}

#ready-to-send.display-feedback-success{
    display: block;
}

#error-feedback-empty{
    display: none;
}

#error-feedback-empty.display-feedback-empty{
    display: block;
}

#error-to-select{
    display: none;
}

#error-to-select.display-feedback-error{
    display: block;
}

#called-UNO{
    display: none;
}

#called-UNO.display-called-UNO{
    display: flex;
}

#Player-won{
    display: none;
}

#Player-won.display-Player-won{
    display: block;
}

.shake-horizontal {
    -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-11-18 10:0:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}
@keyframes shake-horizontal {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}


.scale-up-center {
    -webkit-animation: scale-up-center 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/*.scale-down-center {*/
/*    -webkit-animation: scale-down-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;*/
/*    animation: scale-down-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;*/
/*}*/
/* ----------------------------------------------
 * Generated by Animista on 2021-11-18 10:26:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);

    }
}
@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

/*@-webkit-keyframes scale-down-center {*/
/*    0% {*/
/*        -webkit-transform: scale(1);*/
/*        transform: scale(1);*/
/*    }*/
/*    100% {*/
/*        -webkit-transform: scale(0.9);*/
/*        transform: scale(0.9);*/

/*    }*/
/*}*/
/*@keyframes scale-down-center {*/
/*    0% {*/
/*        -webkit-transform: scale(1);*/
/*        transform: scale(1);*/
/*    }*/
/*    100% {*/
/*        -webkit-transform: scale(0.9);*/
/*        transform: scale(0.9);*/
/*    }*/
/*}*/


.heartbeat {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-11-25 15:43:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

.fade-in{
    animation: fadein 0.5s linear;
}
@keyframes fadein {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
